/* reseteo de margenes*/
body * {
  border:0px;
  margin:0px;
}

/*imagen de fondo del header*/

.imagen-fondo {
  position: relative;
  height: 500px;
}

.imagen-fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* formato barra menu*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(212, 245, 238, 0.5); 
  z-index: 999;
}

nav{
  font-size: large;
 
  color: white;
}

/* formato aplicado a iconos seccion "quienes somos"*/
.icono {
  background-color: rgb(96, 192, 248); 
  width: auto; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*formato de texto a seccion hero*/

#hero-section a{
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 300;
  font-size: medium;

}

/*formato tipografias a resto de textos, titulos y contenidos en general*/

h4 {
    
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 700;
    font-size:2rem;
    }

article{
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 300;
  font-size:large;
  color: blanchedalmond;

}

h5 {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: bold;
  font-size: large;
  }

p {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: lighter;
    font-size:medium;
 }  

 /*formato barra de pie de pagina color, altura y alineacion*/
  footer{

    height:100px;
    background-color:  rgb(96, 192, 248);
    text-align: center;
    color: whitesmoke;
    padding-top: 30px;
    margin-top: -50px;
  }
  
  
